includeConfig './conf/base.config'

params {
    target_assemblies           = [
        ["red5_v2p1", "/workspace/hrauxr/pan-gene/.test/red5_v2p1_chr1.fasta"],
        ["donghong", "/workspace/hrauxr/pan-gene/.test/donghong.chr1.fsa.gz"]
    ]
    // Pattern:             [ [tag, fasta(.gz) ] ]
    // Permissible tags:    tag, tag_1, tag_tag2_3, tag_tag2_tag3;
    //                      Any name with alphanumeric characters including "_".
    //                      "." is not allowed in the tag name
    
    te_libraries                = [
        ["donghong", "/workspace/hrauxr/pan-gene/.test/donghong.TElib.fa.gz"]
    ]
    // Pattern:             [ [tag, fasta(.gz) ] ]
    // Optional             Set to null if libraries are not available.
    //
    // Each TE library should have an associated (by tag) assembly in target_assemblies.
    // Not all target_assemblies need to have an associated (by tag) TE library.
    // When the TE lib is not available for a traget assembly, EDTA is used to create one.
    
    edta_is_sensitive           = false
    edta_save_outputs           = false
    
    repeatmasker_save_outputs   = true
    
    samplesheet                 = "./.test/samplesheet.csv"
    // Optional: Set to null if not available

    skip_fastqc                 = false
    skip_fastp                  = false
    min_trimmed_reads           = 10000
    extra_fastp_args            = ""

    save_trimmed                = false
    // toggling this parameter results in rerun of FASTP and FASTQC_TRIM

    remove_ribo_rna             = false
    save_non_ribo_reads         = false
    ribo_database_manifest      = "${projectDir}/assets/rrna-db-defaults.txt"

    star_max_intron_length      = 16000
    star_align_extra_args       = ""
    star_save_outputs           = false

    external_protein_fastas     = [
        "/workspace/ComparativeDataSources/OrthoDB11/Viridiplantae.fa.gz",
        "/output/genomic/fairGenomes/Plant/Actinidia/chinensis/var_chinensis/male/2x/assembly_russell/v2.1/RU01.20221115150135.pep.fasta"
    ]
    // Optional: Set to null if not available

    braker_extra_args           = ""

    liftoff_xref_annotations    = [
        [
            "/output/genomic/fairGenomes/Plant/Actinidia/chinensis/var_chinensis/male/2x/assembly_russell/v2.1/Russell_V2a.chromosomes.and.unassiged.and.haplotigs.fsa",
            "/output/genomic/fairGenomes/Plant/Actinidia/chinensis/var_chinensis/male/2x/assembly_russell/v2.1/RU01.20221115150135.gff3"
        ],
        [
            "/output/genomic/fairGenomes/Plant/Arabidopsis/thaliana/var_na/sex_na/2x/assembly_tair/v10/TAIR10_chr_all.fas",
            "/output/genomic/fairGenomes/Plant/Arabidopsis/thaliana/var_na/sex_na/2x/assembly_tair/v10/TAIR10_GFF3_genes_transposons.fixed.gff3"
        ]
    ]
    // Format:      [ [ fasta(.gz), gff3(.gz) ] ]
    // Optional:    Set to null if not available

    outdir                      = "./results"

    max_cpus                    = 12
    max_memory                  = 200.GB
    max_time                    = 1.days
}

includeConfig './conf/manifest.config'
includeConfig './conf/modules.config'
includeConfig './conf/reporting_defaults.config'