includeConfig './conf/base.config'

params {
    target_assemblies           = [
        ["red5_v2p1", "/workspace/hrauxr/pan-gene/.test/red5_v2p1_chr1.fasta"],
        ["donghong", "/workspace/hrauxr/pan-gene/.test/donghong.chr1.fsa.gz"]
    ]
    // FASTA files (fasta, fasta.gz) for the assemblies to annotate
    //
    // Pattern:               [["tag", "file path"]]
    // Permissible tags:      tag, tag_1, tag_tag2_3, tag_tag2_tag3;
    //                        Any name with alphanumeric characters including "_".
    //                        "." is not allowed in the tag name
    //                        Unique, short tags are recommended.
    //                        Otherwise, some of the plots in the report may not display correctly.
    // Examples:
    // target_assemblies        = [["tag1", "./a/relative/path/to/the/fasta/file.fasta"],
    //                              ["tag2", "./a/relative/path/to/the/fasta/file2.fasta"],
    //                              ["tag3", "https://ftp.ncbi.nlm.nih.gov/genomes/test_genome.fna"], ...]
    // target_assemblies        = [["tair10", "/an/absolute/path/to/the/fasta/file.fasta"]]
    
    te_libraries                = [
        ["donghong", "/workspace/hrauxr/pan-gene/.test/donghong.TElib.fa.gz"]
    ]
    // TE libs (fasta, fasta.gz) for target_assemblies
    //
    // Optional                 Set to [] if libraries are not available, te_libraries = []
    //
    // Each TE library should have an associated (by tag) assembly in target_assemblies.
    // Not all target_assemblies need to have an associated (by tag) TE library.
    // When the TE lib is not available for a traget assembly, EDTA is used to create one.
    
    edta {
        is_sensitive            = false
        save_outputs            = true
    }
    repeatmasker {
        save_outputs            = true
    }
    
    samplesheet                 = "./.test/samplesheet.csv"
    // Optional: Set to null if not available

    sample_prep {
        skip_fastqc             = false
        skip_fastp              = false
        min_trimmed_reads       = 10000
        extra_fastp_args        = ""

        save_trimmed            = false
        // toggling this parameter results in rerun of FASTP and FASTQC_TRIM

        remove_ribo_rna         = false
        save_non_ribo_reads     = false
        ribo_database_manifest  = "${projectDir}/assets/rrna-db-defaults.txt"
    }

    star_align {
        max_intron_length       = 16000
        extra_star_align_args   = ""
        save_outputs            = false
    }

    external_protein_seqs       = [
        "/workspace/ComparativeDataSources/OrthoDB11/Viridiplantae.fa.gz",
        "/output/genomic/fairGenomes/Plant/Actinidia/chinensis/var_chinensis/male/2x/assembly_russell/v2.1/RU01.20221115150135.pep.fasta"
    ]
    // Optional: Set to null if not available

    braker {
        extra_braker_args       = ""
    }

    outdir                      = "./results"

    max_cpus                = 12
    max_memory              = 200.GB
    max_time                = 1.days
}

includeConfig './conf/modules.config'
includeConfig './conf/reporting_defaults.config'