includeConfig './conf/base.config'

params {
    // FASTA files (fasta, fasta.gz) for the assemblies to annotate
    //
    // Pattern:               [["tag", "file path"]]
    // Permissible tags:      tag, tag_1, tag_tag2_3, tag_tag2_tag3;
    //                        Any name with alphanumeric characters including "_".
    //                        "." is not allowed in the tag name
    //                        Unique, short tags are recommended.
    //                        Otherwise, some of the plots in the report may not display correctly.
    // Examples:
    // target_assemblies    = [["tag1", "./a/relative/path/to/the/fasta/file.fasta"],
    //                          ["tag2", "./a/relative/path/to/the/fasta/file2.fasta"],
    //                          ["tag3", "https://ftp.ncbi.nlm.nih.gov/genomes/test_genome.fna"], ...]
    // target_assemblies    = [["tair10", "/an/absolute/path/to/the/fasta/file.fasta"]]
    target_assemblies       = [
        ["red5_v2p1", "/workspace/hrauxr/pan-gene/.test/red5_v2p1_chr1.fasta"],
        ["donghong", "/workspace/hrauxr/pan-gene/.test/donghong.chr1.fsa.gz"]
    ]
    
    edta {
        is_sensitive    = false
        save_outputs    = true
    }
    outdir              = "./results"
}

includeConfig './conf/modules.config'
includeConfig './conf/reporting_defaults.config'