manifest {
    name                    = 'pangene'
    author                  = """Usman Rashid"""
    homePage                = 'https://github.com/PlantandFoodResearch/pan-gene'
    description             = """A NextFlow pipeline for pan-genome annotation"""
    mainScript              = 'main.nf'
    nextflowVersion         = '!>=23.04.4'
    version                 = '0.1'
    doi                     = ''
}