process {
    withName: 'EDTA' {
        ext.args = [
            params.edta.is_sensitive ? "--sensitive 1" :  "--sensitive 0",
            "--anno 1",
            "--force 1",
            "--species 'others'",
            "--step all"
        ].join(' ').trim()
    }

    withName: 'RESTORE_EDTA_IDS' {
        publishDir = [
            path: { "${params.outdir}/edta" },
            mode: "copy",
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename },
            enabled: params.edta.save_outputs
        ]
    }
}