process {
    withName: 'EDTA_EDTA' {
        ext.args = [
            params.edta_is_sensitive ? "--sensitive 1" :  "--sensitive 0",
            "--anno 0",
            "--force 1"
        ].join(' ').trim()

        publishDir = [
            path: { "${params.outdir}/edta" },
            mode: "copy",
            pattern: '*.EDTA.TElib.fa',
            enabled: params.save_annotated_te_lib
        ]
    }

    withName: 'REPEATMODELER_REPEATMODELER' {
        ext.args = '-LTRStruct'

        publishDir = [
            path: { "${params.outdir}/repeatmodeler" },
            mode: "copy",
            pattern: '*.fa',
            enabled: params.save_annotated_te_lib
        ]
    }

    withName: 'REPEATMASKER' {
        ext.args = [
            "-no_is",
            "-xsmall",
        ].join(' ').trim()

        publishDir = [
            path: { "${params.outdir}/repeatmasker" },
            mode: "copy",
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename },
            enabled: params.repeatmasker_save_outputs
        ]
    }
}

if(!params.skip_fastqc) {
    process {
        withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTQC_RAW' {
            ext.args   = '--quiet'
        }

        withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTQC_TRIM' {
            ext.args   = '--quiet'
            publishDir = [
                path: { "${params.outdir}/fastp/fastqc" },
                mode: "copy",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            ]
        }
    }
}

if(!params.skip_fastp) {
    process {
        withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTP' {
            ext.args   = params.extra_fastp_args ?: ''
            publishDir = [
                [
                    path: { "${params.outdir}/fastp/html" },
                    mode:  "copy",
                    pattern: "*.{html}"
                ],
                [
                    path: { "${params.outdir}/fastp/json" },
                    mode:  "copy",
                    pattern: "*.{json}"
                ],
                [
                    path: { "${params.outdir}/fastp/log" },
                    mode:  "copy",
                    pattern: "*.log"
                ],
                [
                    path: { "${params.outdir}/fastp" },
                    mode:  "copy",
                    pattern: "*.fastq.gz",
                    enabled: params.save_trimmed
                ]
            ]
        }
    }
}

if (params.remove_ribo_rna) {
    process {
        withName: SORTMERNA_INDEX {
            ext.args   = '--index 1'
        }

        withName: SORTMERNA_READS {
            ext.args   = '--index 0 --num_alignments 1 -v'
            publishDir = [
                [
                    path: { "${params.outdir}/sortmerna" },
                    mode: "copy",
                    pattern: "*.log"
                ],
                [
                    path: { "${params.outdir}/sortmerna" },
                    mode: "copy",
                    pattern: "*.fastq.gz",
                    enabled: params.save_non_ribo_reads
                ]
            ]
        }
    }
}

process {
    withName: STAR_ALIGN {
        ext.args = [
            "--outSAMstrandField intronMotif",
            "--outSAMtype BAM SortedByCoordinate",
            "--readFilesCommand gunzip -c",
            "--alignIntronMax ${params.star_max_intron_length}",
            params.star_align_extra_args ? params.star_align_extra_args.split("\\s(?=--)") : ''
        ].flatten().unique(false).join(' ').trim()
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/star/alignment" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.star_save_outputs
        ]
    }

    withName: '.*:ALIGN_RNASEQ:SAMTOOLS_CAT' {
        publishDir = [
            path: { "${params.outdir}/star/cat_bam" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_cat_bam
        ]
    }

    withName: BRAKER3 {
        ext.args = [
            "--gff3",
            params.braker_extra_args ? params.braker_extra_args.split("\\s(?=--)") : ''
        ].flatten().unique(false).join(' ').trim()
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/braker/" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}

if(params.liftoff_annotations) {
    process {
        withName: LIFTOFF {
            ext.args = [
                '-exclude_partial',
                '-copies',
                '-polish',
                "-a $params.liftoff_coverage",
                "-s $params.liftoff_identity"
            ].join(' ').trim()
        }

        withName: '.*:FASTA_LIFTOFF:GFFREAD_BEFORE_LIFTOFF' {
            ext.args = '--no-pseudo --keep-genes'
        }

        withName: MERGE_LIFTOFF_ANNOTATIONS {
            ext.prefix = { "${meta.id}.merged.liftoffs" }
        }

        withName: '.*:FASTA_LIFTOFF:AGAT_SPFILTERFEATUREFROMKILLLIST' {
            ext.prefix = { "${meta.id}.invalid.orf.purged" }
        }

        withName: '.*:FASTA_LIFTOFF:GFFREAD_AFTER_LIFTOFF' {
            ext.prefix = { "${meta.id}.liftoff" }
            ext.args = '--keep-genes'
        }
    }
}

process {

    withName: 'AGAT_CONVERTSPGFF2GTF' {
        ext.args = '--gtf_version relax'
    }

    withName: 'KILL_TSEBRA_ISOFORMS' {
        ext.prefix = { "${meta.id}.1form" }
    }

    withName: 'AGAT_SPFILTERFEATUREFROMKILLLIST' {
        ext.prefix = { "${meta.id}.purged" }
    }
}

process {
    withName: '.*:GFF_MERGE_CLEANUP:AGAT_SPMERGEANNOTATIONS' {
        ext.prefix = { "${meta.id}.liftoff.braker" }
    }

    withName: '.*:GFF_MERGE_CLEANUP:GT_GFF3' {
        ext.args = '-tidy -retainids -sort'
    }
}

process {
    withName: GFF2FASTA_FOR_EGGNOGMAPPER {
        ext.args = '-y'
    }

    withName: EGGNOGMAPPER {
        ext.args = [
            "--evalue $params.eggnogmapper_evalue",
            "--pident $params.eggnogmapper_pident",
            params.eggnogmapper_tax_scope ? "--tax_scope $params.eggnogmapper_tax_scope" : '',
            '--mp_start_method fork',
            "--itype proteins",
            '--go_evidence all'
        ].join(' ').trim()

        publishDir = [
            path: { "${params.outdir}/final/$meta.id" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}

process {
    withName: '.*:PURGE_NOHIT_MODELS:AGAT_SPFILTERFEATUREFROMKILLLIST' {
        ext.prefix = { "${meta.id}.nohits.purged" }
    }
}

process {
    withName: 'FINAL_GFF_CHECK' {
        ext.args = '-tidy -retainids -sort'

        publishDir = [
            path: { "${params.outdir}/final/$meta.id" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}

process {
    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        publishDir = [
            path: "$params.outdir/pipeline_info",
            pattern: "software_versions.yml",
            mode: "copy",
            enabled: true
        ]
    }
}
