process {
    withName: 'EDTA' {
        ext.args = [
            params.edta.is_sensitive ? "--sensitive 1" :  "--sensitive 0",
            "--anno 0",
            "--force 1"
        ].join(' ').trim()
    }

    withName: 'RESTORE_EDTA_IDS' {
        publishDir = [
            path: { "${params.outdir}/edta/${meta.id}" },
            mode: "copy",
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename },
            enabled: params.edta.save_outputs
        ]
    }

    withName: 'REPEATMASKER' {
        ext.args = [
            "-no_is",
            "-xsmall",
        ].join(' ').trim()
        
        publishDir = [
            path: { "${params.outdir}/repeatmasker" },
            mode: "copy",
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename },
            enabled: params.repeatmasker.save_outputs
        ]
    }
}

if(!params.sample_prep.skip_fastqc) {
    process {
        withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTQC_RAW' {
        ext.args   = '--quiet'
        }

        withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTQC_TRIM' {
            ext.args   = '--quiet'
            publishDir = [
                path: { "${params.outdir}/fastp/fastqc" },
                mode: "copy",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            ]
        }
    }
}

if(!params.sample_prep.skip_fastp) {
    process {
        withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTP' {
            ext.args   = params.sample_prep.extra_fastp_args ?: ''
            publishDir = [
                [
                    path: { "${params.outdir}/fastp" },
                    mode:  "copy",
                    pattern: "*.{json,html}"
                ],
                [
                    path: { "${params.outdir}/fastp/log" },
                    mode:  "copy",
                    pattern: "*.log"
                ],
                [
                    path: { "${params.outdir}/fastp" },
                    mode:  "copy",
                    pattern: "*.fastq.gz",
                    enabled: params.sample_prep.save_trimmed
                ]
            ]
        }
    }
}