params {
    input               = 'tests/minimal/assemblysheet.csv'
    protein_evidence    = 'https://raw.githubusercontent.com/Gaius-Augustus/BRAKER/f58479fe5bb13a9e51c3ca09cb9e137cab3b8471/example/proteins.fa'
}

// Additional args to BRAKER should be passed through braker_extra_args
// The config below is only for test purposes
process {
    withName: '.*:FASTA_BRAKER3:BRAKER3' {
        ext.args = [
            '-gff3',
            '--gm_max_intergenic 10000 --skipOptimize' // Not recommended! Used here to make the test execute faster
        ].join(' ').trim()
    }
}
