/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run plant-food-research-open/genepal -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 10,
        memory: '32.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name         = 'Full test profile'
    config_profile_description  = 'Full test dataset to check pipeline function'

    // Input data
    input                   = "${projectDir}/tests/minimal/assemblysheet.csv"
    protein_evidence        = 'https://raw.githubusercontent.com/Gaius-Augustus/BRAKER/f58479fe5bb13a9e51c3ca09cb9e137cab3b8471/example/proteins.fa'

    braker_extra_args       = '--gm_max_intergenic 10000 --skipOptimize' // Added for faster test execution! Do not use with actual data!
    busco_lineage_datasets  = 'eudicots_odb10'
}
