/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run plant-food-research-open/genepal -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name         = 'Test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline function'

    // Input data
    input                       = "${projectDir}/tests/minimal/assemblysheet.csv"
    protein_evidence            = 'https://raw.githubusercontent.com/Gaius-Augustus/BRAKER/f58479fe5bb13a9e51c3ca09cb9e137cab3b8471/example/proteins.fa'

    // Braker options for faster test execution!
    // WARNING: Do not use with actual data!
    braker_extra_args           = '--gm_max_intergenic 10000 --skipOptimize'

    // Skip BUSCO for faster test execution!
    busco_skip                  = true
}
