params {
    target_assemblies = [
        ["red5_v2p1", "tests/stub/target/red5_v2p1_chr1.fasta.gz"],
        ["donghong", "tests/stub/target/donghong.chr1.fsa.gz"]
    ]

    te_libraries = [
        ["donghong", "tests/stub/te_lib/donghong.TElib.fa.gz"]
    ]

    fastq = "tests/stub/fq/fastqsheet.csv"

    remove_ribo_rna = true
    ribo_database_manifest = "assets/rrna-db-test.txt"

    external_protein_fastas = [
        "tests/stub/ext_prot/RU01.20221115150135.chr1.pep.fasta.gz",
        "tests/stub/ext_prot/RU01.20221115150135.chr2.pep.fasta.gz"
    ]

    liftoff_xref_annotations = [
        ["tests/stub/liftoff/Russell_V2a.chr1.fsa.gz", "tests/stub/liftoff/RU01.20221115150135.chr1.gff3.gz"],
        ["tests/stub/liftoff/Russell_V2a.chr2.fsa.gz", "tests/stub/liftoff/RU01.20221115150135.chr2.gff3.gz"]
    ]

    max_cpus = 2
    max_memory =  3.GB
}
